@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg') format('svg');
    font-weight: 900;
    font-style: bold;
    font-display: swap;
}


*{
    font-family:'roboto';
}

/* Valeur générale du body, qui sert pour les em et rem*/
body{
    font-size: 14px;
}


/* Texte du top-header*/
.navbar > li > a {
    font-size: 1.2rem !important;
    font-weight: 700;
}

.nav-link {
    color: #1dacd6; 
    font-size: 1.2rem !important;
}

.navbar-default {
    background-color: #13389c
    border-color: #610202;
    font-size: 1.2rem !important;
}

/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #13389c;
    font-size: 1.2rem !important;
}

/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #1dacd6;
    font-size: 1.2rem ;
}


/* text style*/
.head_txt{
    color: #1a1a1a; 
    font-size: 2rem;
    margin-top: 1rem;
}

h1{
    margin: 18px 0 10px;
    font-family:'roboto'; 
    color: #13389c;
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    color: #13389c;
}

h3{
    font-size: 1.25em;   
    color: #13389c;
    font-weight: 700;
}

p {
    font-size: 1em;
    color: #1a1a1a; 
}


/* text style*/
.big{
    font-size: 1.1em;
}